* {
    padding: 0%;
    margin: 0%;
}

.tipodafonte {
    font-family: 'Lobster', cursive;
    font-size: 500%;
}

.textofonte {
    font-family: 'Indie Flower', cursive;
}

.newsize {
    padding: 0%;
    margin: 0%;
}